<!DOCTYPE html>
<html>
<head>
  <title>YiffSpace</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag("yiff_space/application", media: "all") %>
</head>
<body>

<div id="page">
  <%= yield %>
</div>

</body>
</html>
